{% extends 'homebase.html' %}
<!--
developed By : jafar

-->

{% block body %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Doctor</h1>
  <p class="lead"> Welcome to Doctor Appointment System. </p>
  <hr class="my-4">
  <p>You can access various features after Login/SignUp.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/add_doctor" role="button">Register Your Account</a>
    <a class="btn btn-primary btn-lg" href="/view_doctor" role="button">View_doctor</a>
  </p>
</div>

{% endblock  %}
