{% extends 'homebase.html' %}
{% block title %} Doctor + {%  endblock %}
{% block css %}

.image-container {
width: 1000px;
height: 500px;
margin-top: 30px;
}

.image-container img {
width: 40%;
height: 50%;
transform: rotate(270deg);
}

.specialty-container {
display: flex;
justify-content: space-around;
padding: 25px;
border: 1px solid #ccc;
overflow: auto;
}

.specialty-card {

flex: 0 0 calc(10% - 20px);
background-color:  #f8f8f8; ;
border-radius: 10px;
padding: 5px;
text-align: center;
margin-right: 10px;
box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
}

footer {
background-color:  LightSkyBlue;
color: #fff;
padding: 20px 0;
text-align: center;
}

.container {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}

.purple-button {
background-color: purple;

}


.right-side {
display: flex;
align-items: center;
}

.left-side {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.left-side h3 {
align-self: flex-start;
}

.center {
display: flex;
justify-content: center;
}

.footer-links {
text-align: center;
margin: 0 20px;
}


.footer-links {
margin-right: 20px;
}

.social-icons {
margin-bottom: 10px;
}

.social-icons img {
width: 30px;
margin: 0 5px;
}

{% endblock %}

{% block body %} 
{% load static %}
<div class="container">
  <div class="row">
    <div class="col-6">
      <p>
        <h1>Select the doctor you are looking for treatment consultant</h1>
        <br><br><br>  
        <h3>Various professional doctors are available nearby to provide treatment and care for your health.</h3>
      </p>
    </div>
    <div class="col-6">
      <!-- Image displayed using the <img> tag -->
      <div class="image-container">
        <img src="{% static 'management/image/pics.jpg' %}" >
      </div>
    </div>
  </div>  
</div>

  <br>
        <div class="container" style="display: block;padding-bottom: 20px;">
            <h2><b> Select and Book </b></h2><br>
        </div>
        <br>
        <div class="specialty-container">
            <div class="specialty-card">

                <p>
                   Dental <br>Specialist
                </p>
            </div>
            <div class="specialty-card">

                <p>
                    Eye <br>Specialist
                </p>
            </div>
            <div class="specialty-card">

                <p>
                    Cardio <br>specialist
                </p>
            </div>
            <div class="specialty-card">

                <p>
                    Bone <br>specialist
                </p>
            </div>
             <br>
             <br>
        </div>

        <br>

        <div style="display: flex; justify-content: center;">
         <button style="border: 1px solid rgb(19, 18, 18); height: 40px;width: 120px;background-color: white;">
                see more
         </button>
        </div>

        <br>


 {% endblock %}
