{% extends 'homebase.html' %}
{% block title %} Legal Document {%  endblock %}
{% load static %}
{% block css %}

{% endblock %}

{% block body %}

 <h1 class="text-center">Welcome to Our Website</h1>

    <h2>Information</h2>
    <p>This is where you would provide information about your website or organization.</p>

    <h2>Sign Up</h2>
    <p>This is where you would include a form or link for users to sign up for your service or platform.</p>

    <h2>Join Community</h2>
    <p>This is where you would encourage users to join your community or social platforms.</p>

    <h2>Teams</h2>
    <p>This is where you would introduce your teams or organizational structure.</p>

{% endblock %}