{% extends 'homebase.html' %}
{% block title %} Legal Document {%  endblock %}
{% load static %}
{% block css %}

{% endblock %}

{% block body %}
 <h1 class="text-center">Legal Documents</h1>

    <h2>Terms & Conditions</h2>
    <p>This is where you would provide your terms and conditions content.</p>

    <h2>Cookie Policy</h2>
    <p>This is where you would provide your cookie policy content.</p>

    <h2>Privacy Policy</h2>
    <p>This is where you would provide your privacy policy content.</p>


{% endblock %}

{% block js %}


{% endblock %}
