{% extends 'homebase.html' %}
{% block title %} Login {%  endblock %}
{% block css %}
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.container {
    width: 350px; /* Increased width to accommodate the form */
}

.container h2 {
    margin-bottom: 20px;
}

.container label {
    font-size: 12px;
}

.container input[type="text"],
.container input[type="password"],
.container input[type="submit"] {
    font-size: 12px;
    margin-bottom: 10px;
    width: 100%;
}

.container input[type="submit"] {
    cursor: pointer;
}

{% endblock %}

{% block body %}
<div class="center-content">
    <div class="container">
        <h2>Admin Login</h2>
        <form method="post">
            {% csrf_token %}
            <label for="uname">Admin Name</label>
            <input type="text" class="form-control" name="uname" id="uname">
            <label for="pwd">Password</label>
            <input type="password" class="form-control" name="pwd" id="pwd">
            <input type="submit" value="Login" class="form-control btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
  <script>
      {% if error %}
        {% if error == "no" %}
            alert('Logged In Successfully');
            window.location.href = "{% url 'home' %}";
        {% elif error == "yes" %}
            alert('Invalid Login Credentials, Try Again');
        {% endif %}
      {% endif %}
 </script>
{% endblock %}
