{% extends 'homebase.html' %}
{% block title %} Speciality_doctor {% endblock %}
{% load static %}
{% block css %}

{% endblock %}

{% block body %}

    <h1 class="text-center mt-5">Doctors Specializing in {{ specialty }}</h1>
    <br> <br>
    <!-- Display list of doctors -->
    <ul>
        {% for doctor in doctors %}
        <h3><li>{{ doctor.name }} - {{ doctor.mobile }}</li></h3>
        {% endfor %}
    </ul>
    <br> <br>
    <!-- Add links to appointment-related views -->
    <div>
        <h2 class="text-center">Appointment Actions</h2>
        <br> <br>  <br>
         <p class="text-center">
            <a class="btn btn-primary btn-lg mr-3" href="/add_appointment" role="button">Add Appointment</a>
            <a class="btn btn-primary btn-lg" href="/view_appointment" role="button">View_Appointments</a>
         </p>
    </div>
{% endblock %}



{% block js %}



<script>

</script>
{% endblock %}