{% extends 'homebase.html' %}
{% block title %} Speciality_doctor {% endblock %}
{% load static %}
{% block css %}
     .rounded{
      border-top:8px solid lightblue;
      border-radius:5px;
     }
      .mydivstyle:hover{
        box-shadow:0 0 20px 0 rgba(0,0,0,0.3);
        transform:translateY(-20px)
      }


{% endblock %}

{% block body %}

    <h1 class="text-center mt-5">Doctors Specializing in {{ specialty }}</h1>
    <br> <br>
    <!-- Display list of doctors -->
    <ul>
        {% for doctor in doctors %}
        <h3><li>{{ doctor.name }} - {{ doctor.mobile }}</li></h3>
        {% endfor %}
    </ul>
    <br> <br>
    <!-- Add links to appointment-related views -->
    <div class="container-fluid" >
        <h2 class="text-center">Appointment Actions</h2>
        <br>
        <div class="row">
             <div class="col-sm-4 text-center mydivstyle">
               <h2 style="color:blue">{{a}}</h2>
               <a href="{% url 'view_appointment' %}"><h4 style="color:red">View Appointment</h4>
               <hr class="rounded"> </a>
             </div>
            <div class="col-sm-4 text-center mydivstyle">
            <a class="btn btn-primary btn-lg mt-3" href="/add_appointment" role="button">Add Appointment</a>
            </div>
        </div>
    </div>
{% endblock %}



{% block js %}



<script>

</script>
{% endblock %}