.nav-link{
color: black !important;
}

.nav-link:hover{
color: black !important;
background-color: yellow;
border-radius: 10px;
font-weight: bold;
}

.navbar-brand:hover{
color: black !important;
font-weight: bold;
}

.navbar-brand{
color: black !important;
}


    /* CSS styling for demonstration purposes */
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        h2 {
            color: #333;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 20px;
        }
        .btn {
            display: inline-block;
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        .btn:hover {
            background-color: #0056b3;
        }